<meta charset="UTF-8">
<title>Max Wagers</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
.foot {
  position: absolute;
  background-color: #a6c1ed;
  bottom: 0;
  width: 100%;
  clear: both;
}
.navbar {
  background-color: #a6c1ed;
}
</style>
