<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon glyphicon-usd"></span>
            Max Wagers
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/nflodds">NFL ODDS</a></li>
            <li><a href="/nhlodds">NHL ODDS</a></li>
            <li><a href="/nbaodds">NBA ODDS</a></li>
            <li><a href="/mlbodds">MLB ODDS</a></li>

        </ul>
    </div>

</div>
</nav>
