<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% include ./partials/head %>
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>
  <h1 class="banner">NFL ODDS</h1>
  <button class="btn btn-info" type="submit">Find NFL Odds</button>
  <footer class="foot">
    <% include ./partials/footer %>
  </footer>
</body>
</html>
